/*
The Selling Partner API for Orders

The Selling Partner API for Orders returns orders information. This API supports the following types of orders:  - FBM (Fulfilled by Merchant) - FBA (Fulfilled by Amazon) - read only - Amazon Fresh  This API does not display order data that is more than two years old, except in the JP, AU, and SG marketplaces, for which data from 2016 and after is available.

API version: 2026-01-01
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package orders20260101

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


type SearchOrdersAPI interface {

	/*
	SearchOrders Method for SearchOrders

	Returns orders that are created or updated during the time period that you specify. You can filter the response for specific types of orders.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchOrdersRequest
	*/
	SearchOrders(ctx context.Context) ApiSearchOrdersRequest

	// SearchOrdersExecute executes the request
	//  @return SearchOrdersResponse
	SearchOrdersExecute(r ApiSearchOrdersRequest) (*SearchOrdersResponse, *http.Response, error)
}

// SearchOrdersAPIService SearchOrdersAPI service
type SearchOrdersAPIService service

type ApiSearchOrdersRequest struct {
	ctx context.Context
	ApiService SearchOrdersAPI
	createdAfter *time.Time
	createdBefore *time.Time
	lastUpdatedAfter *time.Time
	lastUpdatedBefore *time.Time
	fulfillmentStatuses *[]string
	marketplaceIds *[]string
	fulfilledBy *[]string
	maxResultsPerPage *int32
	paginationToken *string
	includedData *[]string
}

// The response includes orders created at or after this time. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.  **Note**: You must provide exactly one of &#x60;createdAfter&#x60; and &#x60;lastUpdatedAfter&#x60; in your request. If &#x60;createdAfter&#x60; is provided, neither &#x60;lastUpdatedAfter&#x60; nor &#x60;lastUpdatedBefore&#x60; may be provided.
func (r ApiSearchOrdersRequest) CreatedAfter(createdAfter time.Time) ApiSearchOrdersRequest {
	r.createdAfter = &createdAfter
	return r
}

// The response includes orders created at or before this time. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.  **Note**: If you include &#x60;createdAfter&#x60; in the request, &#x60;createdBefore&#x60; is optional, and if provided must be equal to or after the &#x60;createdAfter&#x60; date and at least two minutes before the time of the request. If &#x60;createdBefore&#x60; is provided, neither &#x60;lastUpdatedAfter&#x60; nor &#x60;lastUpdatedBefore&#x60; may be provided.
func (r ApiSearchOrdersRequest) CreatedBefore(createdBefore time.Time) ApiSearchOrdersRequest {
	r.createdBefore = &createdBefore
	return r
}

// The response includes orders updated at or after this time. An update is defined as any change made by Amazon or by the seller, including an update to the order status. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.  **Note**: You must provide exactly one of &#x60;createdAfter&#x60; and &#x60;lastUpdatedAfter&#x60;. If &#x60;lastUpdatedAfter&#x60; is provided, neither &#x60;createdAfter&#x60; nor &#x60;createdBefore&#x60; may be provided.
func (r ApiSearchOrdersRequest) LastUpdatedAfter(lastUpdatedAfter time.Time) ApiSearchOrdersRequest {
	r.lastUpdatedAfter = &lastUpdatedAfter
	return r
}

// The response includes orders updated at or before this time. An update is defined as any change made by Amazon or by the seller, including an update to the order status. The date must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.  **Note**: If you include &#x60;lastUpdatedAfter&#x60; in the request, &#x60;lastUpdatedBefore&#x60; is optional, and if provided must be equal to or after the &#x60;lastUpdatedAfter&#x60; date and at least two minutes before the time of the request. If &#x60;lastUpdatedBefore&#x60; is provided, neither &#x60;createdAfter&#x60; nor &#x60;createdBefore&#x60; may be provided.
func (r ApiSearchOrdersRequest) LastUpdatedBefore(lastUpdatedBefore time.Time) ApiSearchOrdersRequest {
	r.lastUpdatedBefore = &lastUpdatedBefore
	return r
}

// A list of &#x60;FulfillmentStatus&#x60; values you can use to filter the results.
func (r ApiSearchOrdersRequest) FulfillmentStatuses(fulfillmentStatuses []string) ApiSearchOrdersRequest {
	r.fulfillmentStatuses = &fulfillmentStatuses
	return r
}

// The response includes orders that were placed in marketplaces you include in this list.  Refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids) for a complete list of &#x60;marketplaceId&#x60; values.
func (r ApiSearchOrdersRequest) MarketplaceIds(marketplaceIds []string) ApiSearchOrdersRequest {
	r.marketplaceIds = &marketplaceIds
	return r
}

// The response includes orders that are fulfilled by the parties that you include in this list.
func (r ApiSearchOrdersRequest) FulfilledBy(fulfilledBy []string) ApiSearchOrdersRequest {
	r.fulfilledBy = &fulfilledBy
	return r
}

// The maximum number of orders that can be returned per page. The value must be between 1 and 100. **Default:** 100.
func (r ApiSearchOrdersRequest) MaxResultsPerPage(maxResultsPerPage int32) ApiSearchOrdersRequest {
	r.maxResultsPerPage = &maxResultsPerPage
	return r
}

// Pagination occurs when a request produces a response that exceeds the &#x60;maxResultsPerPage&#x60;. This means that the response is divided into individual pages. To retrieve the next page, you must pass the &#x60;nextToken&#x60; value as the &#x60;paginationToken&#x60; query parameter in the next request. You will not receive a &#x60;nextToken&#x60; value on the last page.
func (r ApiSearchOrdersRequest) PaginationToken(paginationToken string) ApiSearchOrdersRequest {
	r.paginationToken = &paginationToken
	return r
}

// A list of datasets to include in the response.
func (r ApiSearchOrdersRequest) IncludedData(includedData []string) ApiSearchOrdersRequest {
	r.includedData = &includedData
	return r
}

func (r ApiSearchOrdersRequest) Execute() (*SearchOrdersResponse, *http.Response, error) {
	return r.ApiService.SearchOrdersExecute(r)
}

/*
SearchOrders Method for SearchOrders

Returns orders that are created or updated during the time period that you specify. You can filter the response for specific types of orders.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchOrdersRequest
*/
func (a *SearchOrdersAPIService) SearchOrders(ctx context.Context) ApiSearchOrdersRequest {
	return ApiSearchOrdersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SearchOrdersResponse
func (a *SearchOrdersAPIService) SearchOrdersExecute(r ApiSearchOrdersRequest) (*SearchOrdersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchOrdersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchOrdersAPIService.SearchOrders")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/orders/2026-01-01/orders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.createdAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdAfter", r.createdAfter, "", "")
	}
	if r.createdBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdBefore", r.createdBefore, "", "")
	}
	if r.lastUpdatedAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lastUpdatedAfter", r.lastUpdatedAfter, "", "")
	}
	if r.lastUpdatedBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lastUpdatedBefore", r.lastUpdatedBefore, "", "")
	}
	if r.fulfillmentStatuses != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fulfillmentStatuses", r.fulfillmentStatuses, "form", "csv")
	}
	if r.marketplaceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "marketplaceIds", r.marketplaceIds, "form", "csv")
	}
	if r.fulfilledBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fulfilledBy", r.fulfilledBy, "form", "csv")
	}
	if r.maxResultsPerPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxResultsPerPage", r.maxResultsPerPage, "", "")
	}
	if r.paginationToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "paginationToken", r.paginationToken, "", "")
	}
	if r.includedData != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includedData", r.includedData, "form", "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorList
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorList
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorList
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 413 {
			var v ErrorList
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 415 {
			var v ErrorList
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorList
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorList
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorList
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
