/*
The Selling Partner API for Amazon Seller Wallet Open Banking API

The Selling Partner API for Seller Wallet (Seller Wallet API) provides financial information that is relevant to a seller's Seller Wallet account. You can obtain financial events, balances, and transfer schedules for Seller Wallet accounts. You can also schedule and initiate transactions.

API version: 2024-03-01
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sellerwallet20240301

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type TransferPreviewAPI interface {

	/*
	GetTransferPreview Fetch potential fees that could be applied on a transaction on the basis of the source and destination country currency code

	Retrieve a list of potential fees on a transaction.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTransferPreviewRequest
	*/
	GetTransferPreview(ctx context.Context) ApiGetTransferPreviewRequest

	// GetTransferPreviewExecute executes the request
	//  @return TransferRatePreview
	GetTransferPreviewExecute(r ApiGetTransferPreviewRequest) (*TransferRatePreview, *http.Response, error)
}

// TransferPreviewAPIService TransferPreviewAPI service
type TransferPreviewAPIService service

type ApiGetTransferPreviewRequest struct {
	ctx context.Context
	ApiService TransferPreviewAPI
	sourceCountryCode *string
	sourceCurrencyCode *string
	destinationCountryCode *string
	destinationCurrencyCode *string
	baseAmount *float32
	marketplaceId *string
}

// Country code of the source transaction account in ISO 3166 format.
func (r ApiGetTransferPreviewRequest) SourceCountryCode(sourceCountryCode string) ApiGetTransferPreviewRequest {
	r.sourceCountryCode = &sourceCountryCode
	return r
}

// Currency code of the source transaction country in ISO 4217 format.
func (r ApiGetTransferPreviewRequest) SourceCurrencyCode(sourceCurrencyCode string) ApiGetTransferPreviewRequest {
	r.sourceCurrencyCode = &sourceCurrencyCode
	return r
}

// Country code of the destination transaction account in ISO 3166 format.
func (r ApiGetTransferPreviewRequest) DestinationCountryCode(destinationCountryCode string) ApiGetTransferPreviewRequest {
	r.destinationCountryCode = &destinationCountryCode
	return r
}

// Currency code of the destination transaction country in ISO 4217 format.
func (r ApiGetTransferPreviewRequest) DestinationCurrencyCode(destinationCurrencyCode string) ApiGetTransferPreviewRequest {
	r.destinationCurrencyCode = &destinationCurrencyCode
	return r
}

// The base transaction amount without any markup fees.
func (r ApiGetTransferPreviewRequest) BaseAmount(baseAmount float32) ApiGetTransferPreviewRequest {
	r.baseAmount = &baseAmount
	return r
}

// The marketplace for which items are returned. The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).
func (r ApiGetTransferPreviewRequest) MarketplaceId(marketplaceId string) ApiGetTransferPreviewRequest {
	r.marketplaceId = &marketplaceId
	return r
}

func (r ApiGetTransferPreviewRequest) Execute() (*TransferRatePreview, *http.Response, error) {
	return r.ApiService.GetTransferPreviewExecute(r)
}

/*
GetTransferPreview Fetch potential fees that could be applied on a transaction on the basis of the source and destination country currency code

Retrieve a list of potential fees on a transaction.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetTransferPreviewRequest
*/
func (a *TransferPreviewAPIService) GetTransferPreview(ctx context.Context) ApiGetTransferPreviewRequest {
	return ApiGetTransferPreviewRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TransferRatePreview
func (a *TransferPreviewAPIService) GetTransferPreviewExecute(r ApiGetTransferPreviewRequest) (*TransferRatePreview, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TransferRatePreview
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TransferPreviewAPIService.GetTransferPreview")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/finances/transfers/wallet/2024-03-01/transferPreview"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sourceCountryCode == nil {
		return localVarReturnValue, nil, reportError("sourceCountryCode is required and must be specified")
	}
	if r.sourceCurrencyCode == nil {
		return localVarReturnValue, nil, reportError("sourceCurrencyCode is required and must be specified")
	}
	if r.destinationCountryCode == nil {
		return localVarReturnValue, nil, reportError("destinationCountryCode is required and must be specified")
	}
	if r.destinationCurrencyCode == nil {
		return localVarReturnValue, nil, reportError("destinationCurrencyCode is required and must be specified")
	}
	if r.baseAmount == nil {
		return localVarReturnValue, nil, reportError("baseAmount is required and must be specified")
	}
	if r.marketplaceId == nil {
		return localVarReturnValue, nil, reportError("marketplaceId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "sourceCountryCode", r.sourceCountryCode, "", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "sourceCurrencyCode", r.sourceCurrencyCode, "", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "destinationCountryCode", r.destinationCountryCode, "", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "destinationCurrencyCode", r.destinationCurrencyCode, "", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "baseAmount", r.baseAmount, "", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "marketplaceId", r.marketplaceId, "", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorList
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorList
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorList
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 408 {
			var v ErrorList
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 413 {
			var v ErrorList
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 415 {
			var v ErrorList
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorList
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorList
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorList
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
